// styles.scss

@import 'reset';
@import 'variables';

body {
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: normal;
}

.sup-header{
  position: static;
  width: 600px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  background-color: inherit;
  display: flex;
  justify-content: center;
}

.sup-header strong{
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  font-variant: small-caps;
  right: 15px;
  top:20px
}

.sup-header .logo{
  position: absolute;
  left: 5px;
  height: 60px;
}

.formheader{
  position: absolute;
  left: 70px;
  height: 60px;
  background-color: inherit;
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-flex;
  justify-content: left-column;
  text-align: left;
}

@media (max-width:600px){
  .formheader{
    width: 300px;
  }
  #busqueda{
    width: 300px;
  }
}

@media (min-width:601px) and (max-width:992px){
  .formheader{
    width: 470px;
  }
  #busqueda{
    width: 470px;
  }
}

@media (min-width:993px){
  .formheader{
    width: 800px;
  }
  #busqueda{
    width: 800px;
  }
}

.labelheader{
  display: flex;
  width: 60px;
  justify-content: center;
}

.logo img{
  width: 60px;
  height: 60px;
}

.spanheader img{
  width: 30px;
  height: 30px;
}

.buttonhidden{
  display:none;
}


.nav{
  background-color: white;
  height: 40px;
  margin: 0 auto;
  border-top: 1px;
  border-bottom: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
  align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 4px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #cadaca;
    color: black;
}

.round {
    border-radius: 50%;
}

@media  (max-width: 600px) {
  .nav{
    width: 500px;
    font-size: 14px;

  }
  .hide-low{
    display: none;
  }
}

@media (min-width:601px) and (max-width:992px) {
  .nav{
    width: 600px;
    font-size: 18px;
  }
  .hide-medium{
    display: none;
  }
}

@media (min-width:993px){
  .nav{
    width: 900px;
    font-size: 20px;
  }
}

.main {
  margin-top: 20px;
  background-color: inherit;
}


.main{
position: relative;
background-color: #E2E2E2;
border-color: green;
border-width: 2px;
border-style: double;
margin: 0 auto;
height:max-content;
overflow: hidden;


}

@media (max-width: 450px){
  .main{
    width: 450px;
  }
}

@media (min-width: 451px) and (max-width:992){
  .main{
    width: auto;
  }
}

@media (min-width: 993px) {
  .main {
    width: 993px;
  }
}


.wellcome-block{
  position: relative;
  top:10px;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  line-height: 40px;
  background-color: #EBF5FB;
}

.wellcome-text{
  display: inline;
}

.wellcome-text strong{
 color:red;
}

.wellcome-form{
  display: inline;
}

#send-button{
  background-color: red;
}

.wellcome-form img{
  margin-left: 30px;
}



.flex-container {
  display: flex;
  background-color: DodgerBlue;
}


@media screen  and (max-width: 992px){
  .flex-container{
    flex-direction: column;
  }
}

@media screen  and (min-width: 993px){
  .flex-container{
    flex-direction: row;
    justify-content: center;
  }
}

.left-column{
  position: relative;
  box-sizing: border-box;
  top:40px;
  border: 1px solid red;
}

@media screen and (max-width: 600px){
  .left-column{
    width: auto;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px){
  .left-column{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media screen  and (min-width: 993px){
  .left-column{
    width: 600px;
    margin-right: 20px;


  }
}

.recomended-element-box{
  position: relative;
  width: auto;
  background-color: #efefef;
  margin: 5px;

}

.recomended-element-box img{
  float:left;
}

h3{
  font-size: 20px;
  font-weight: bold;
}

.today{
  position: relative;
  background-color: blue;
  width: 400px;
}

.right-column{
  position: relative;
  box-sizing: border-box;
  top:40px;
  border: 1px solid black;


}
@media screen and (max-width: 600px){
  .right-column{
    width: auto;
    margin-top: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px){
  .right-column{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media screen  and (min-width: 993px){
  .right-column{
    width: 300px;
    margin-left: 20px;
  }
}

.kittybot{
  position: relative;
  width: inherit;
}

.upcoming{
  position: relative;
  background-color: blue;
  width: 100px;
}
